<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="aws/kenbi" value="https://kenbi-artifacts-567677647219.d.codeartifact.eu-central-1.amazonaws.com/nuget/nuget-store/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"></add>
  </activePackageSource>
</configuration>